# Aprendendo Python - Listas e truplas
Nesse notebook vamos ver como trabalhamos com listas e truplas, elas são muito uteis na construção de menus, um pequeno catalogo ou algo do tipo. Seguem abaixo alguns exemplos de uso.

## Tuplas
Vamos criar abaixo um exemplo de tuplas com os meses do ano. Como se tratam de strings, vou colocar elas entre aspas dentro do parenteses e separadas por virgula.

In [2]:
meses = ('janeiro','fevereiro','março','abril','maio','junho','julho','agosto','setembro','outubro','novembro','dezembro')
meses

('janeiro',
 'fevereiro',
 'março',
 'abril',
 'maio',
 'junho',
 'julho',
 'agosto',
 'setembro',
 'outubro',
 'novembro',
 'dezembro')

### Validando o tipo de dado de uma tupla
Eu vou usar o comando type na variavel e é possivel ver que é uma tupla.

In [3]:
type(meses)

tuple

## Listas
Agora vamos criar uma lista, a diferença de sintaxe entre uma tupla e uma lista é que a tupla eu fecho com parenteses e a lista eu fecho com colchete, existe mais uma diferença crucial, mas veremos mais a diante. Vamos criar uma lista com a variavel aluno.

In [4]:
aluno = ['anselmo','adriana','andreia','lucia','junior']
aluno

['anselmo', 'adriana', 'andreia', 'lucia', 'junior']

### Validando do tipo de dado lista
Assim como fizemos acima, vamos usar o type para ver se essa variavel é realmente uma lista

In [7]:
type(aluno)

list

Assim como visto em strings podemos usar algumas funções para essa variavel, len de comprimento é uma delas.

In [8]:
len(meses)

12

In [9]:
len(aluno)

5

Note que ele exibe a quantidade de registros de cada uma das variaveis.

## Acessando elementos pelo indice:
Assim como acessamos as letras via string, cada registro tem sua posição, sendo assim posso trazer qualquer registro da lista ou tupla, começando com 0 ou de traz pra frente usando o -1 como ultimo registro.

In [11]:
meses[9]

'outubro'

In [12]:
aluno[2]

'andreia'

## Principal diferença entre listas e tuplas
* **tuplas** - Imutáveis, ou seja, depois de criadas não podem ser alteradas, conforme o exemplo, os meses do ano são imutáveis, portanto vale a pena criar uma tupla
* **listas** - Mutáveis, posso remover ou alterar qualquer registro da lista caso necessário. Conforme o exemplo criamos nomes de alunos, onde podemos alterar, adicionar ou remover conforme a necessidade.

Segue abaixo alguns exemplos de como alterar listas

## Alterações na lista
Vamos mostar como alterar, adicionar ou remover um valor da lista, começaremos com alterar.

In [15]:
# Vamos alterar o aluno anselmo para o aluno cristiano
aluno[0] = 'cristiano'
aluno

['cristiano', 'adriana', 'andreia', 'lucia', 'junior']

In [16]:
# Vamos adicionar o aluno anselmo novamente mas no final da lista (append sempre coloca no final)
aluno.append('anselmo')
aluno

['cristiano', 'adriana', 'andreia', 'lucia', 'junior', 'anselmo']

In [17]:
# Vamos adicionar o aluno ricardo em uma posição especifica no caso a segunda, pra isso usamos o metodo insert.
aluno.insert(1,'ricardo')
aluno

['cristiano', 'ricardo', 'adriana', 'andreia', 'lucia', 'junior', 'anselmo']

In [19]:
# Colocando a lista em ordem alfabética
aluno.sort()
aluno

['adriana', 'andreia', 'anselmo', 'cristiano', 'junior', 'lucia', 'ricardo']

In [20]:
# Removendo um item com o indice:
aluno.pop(3)

'cristiano'

In [21]:
# Validando
aluno

['adriana', 'andreia', 'anselmo', 'junior', 'lucia', 'ricardo']

In [22]:
# Removendo usando o remove - a diferença é que eu falo qual a string
aluno.remove('ricardo')
aluno

['adriana', 'andreia', 'anselmo', 'junior', 'lucia']

In [23]:
# Juntando listas
aluno2 = ['cleber','andre','caio']
total = aluno + aluno2
total

['adriana', 'andreia', 'anselmo', 'junior', 'lucia', 'cleber', 'andre', 'caio']

# Exercicio
Vamos criar um programa que pede sua data de nascimento no formato DD-MM-AAAA, com essa informação temos que exibir em texto a mesnagem "Você nasceu no mẽs..." de maio por exemplo, usando uma tupla de variaveis de meses.

In [1]:
meses = ('janeiro','fevereiro','março','abril','maio','junho','julho','agosto','setembro','outubro','novembro','dezembro')
dn = input('Digite sua data de nascimento no formato DD-MM-AAAA: ')
mes = int(dn[3:5])
print('Você nasceu no mês de:', meses[mes - 1])

Digite sua data de nascimento no formato DD-MM-AAAA: 07-05-1997
Você nasceu no mês de: maio